{#{% load crispy_forms_tags %}          #}
{% load static %}
	<!--Reset Password-->
    <link rel="stylesheet" href="{% static 'css/pass_reset.css' %}">
	<div class="container">
        <div class="left">
            <section class="copy">
                <h1 style="font-size: 36px">M I C R O M
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-diagram-2" viewBox="0 0 16 16" color="#e0e7e7">
                      <path fill-rule="evenodd" d="M6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6v1H11a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 5 7h2.5V6A1.5 1.5 0 0 1 6 4.5v-1zM8.5 5a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1zM3 11.5A1.5 1.5 0 0 1 4.5 10h1A1.5 1.5 0 0 1 7 11.5v1A1.5 1.5 0 0 1 5.5 14h-1A1.5 1.5 0 0 1 3 12.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm4.5.5a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1A1.5 1.5 0 0 1 9 12.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"></path>
                    </svg>
                    N A G E</h1>
                <p>An Online Business Manager Program</p>
            </section>
        </div>
		<hr>
        <h2>Reset Password</h2>
        <p>Forgotten your password? Enter your email address below, and we'll email instructions on how to reset your password.</p>
        <form method="POST" action="">
            {% csrf_token %}
            {{ form }}
            <br>
            <div class="center">
                <button class="email_btn" type="submit">Send email</button>
            </div>
        </form>
    </div>