<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Raw Materials</title>
</head>
<body>
<div>
    <h1>PRODUCT DETAILS</h1>
</div>
<div>
    <ul>
        <li>Editing Details:</li>
    </ul>
    <ul>
        <li><h3>Raw Material Checklist:</h3></li>
        <li>item</li>
        <li>item</li>
        <li>item</li>
        <li>item</li>
        <li>item</li>
        <li><a href="https://i.imgur.com/q71TZyx.gif">Done</a></li>  <!--Button-->
    </ul>
</div>
<div>
    <ul>
        <li><a href="https://i.imgur.com/q71TZyx.gif">Logo</a></li>
        <li><h6>CLP Softwares</h6></li>
    </ul>
</div>
</body>
</html>