<!DOCTYPE html>

<!--May be Javascript. Adjust accordingly.-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Price Adjustment Notice</title>
</head>
<body>
<div>
    <ul>
        <li><h3>PRICE ADJUSTMENT CONFIRMATION</h3></li>
        <li>Is there a raw material price that needs to be adjusted for the recently input product?</li>
        <li>(i.e.: price of flour for one serving of cake)</li>
        <li><a href="https://i.imgur.com/q71TZyx.gif">Yes</a></li>  <!--Button-->
        <li><a href="https://i.imgur.com/q71TZyx.gif">No</a></li>  <!--Button-->
    </ul>
</div>
</body>
</html>