<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Price Adjustment</title>
</head>
<body>
<div>
    <h1>MATERIAL PRICE</h1>
</div>
<div>
    <ul>
        <li>Raw Materials:</li>
        <li>Adjusted Price:</li>
        <li><a href="https://i.imgur.com/q71TZyx.gif">Adjust New Item</a></li>  <!--Button-->
        <li><a href="https://i.imgur.com/q71TZyx.gif">Finish</a></li>  <!--Button-->
    </ul>
</div>
<div>
    <ul>
        <li><a href="https://i.imgur.com/q71TZyx.gif">Logo</a></li>
        <li><h6>CLP Softwares</h6></li>
    </ul>
</div>
</body>
</html>