{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Registration</title>#}
{#</head>#}
{#<body>#}
{#<div>#}
{#    <ul>#}
{#        <li><h2>Welcome, USER</h2></li>#}
{#        <li><h4>Input the required information for us to know more about your business</h4></li>#}
{#    </ul>#}
{#</div>#}
{##}
{#<form method="POST" action="">#}
{#    <div class="details">#}
{##}
{#        {% csrf_token %}#}
{##}
{#        <div class="input-group mb-3">#}
{#            <div class="input-group-append">#}
{#                <input type="text" placeholder="Business Name" name="business_name">#}
{#                <br/>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <div style="padding-left: 430px">#}
{#        <input class="btn login_btn" type="submit" value="Go To Home Page">#}
{#    </div>#}
{#</form>#}
{##}
{#<div>#}
{#    <ul>#}
{#        <li>Business Name:</li>#}
{#        <li>Business Description:</li>#}
{#        <li><a href="https://i.imgur.com/q71TZyx.gif">Home Page</a></li>  <!--Button-->#}
{#    </ul>#}
{#</div>#}
{#</body>#}
{#</html>#}