{% extends 'base.html' %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Existing Products Database</title>
    <link rel="stylesheet" href="{% static 'css/database.css' %}">
</head>
<body>
<div class="filter">

</div>
<div>
    <h1 style="font-family: 'Montserrat', sans-serif; text-align: center; margin: 20px auto">PRODUCTS DATABASE</h1>
    <table class="table">
        <tr>
            <th>Item Name</th>
            <th>Item Type</th>
            <th>Selling Price</th>
{#            <th>Username</th>#}
        </tr>
    {% for i in products %}
        {% if i.user == request.user.username %}
        <tr>
            <td>{{ i.name }}</td>
            <td>{{ i.itemType }}</td>
            <td>{{ i.sellPrice }}</td>
        </tr>
        {% endif %}
    {% endfor %}
    </table>
</div>
</body>
</html>
{% endblock %}